 <div class="container">
   <h1> Hello {{ currentUser.name }}</h1>
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="https://www.youtube.com/watch?v=PBwAxmrE194" class="brand">Insert some junk here</a>
          </div>
        </div>
      <div class="page-header">
        <h1>Room: {{'insert room variable here'}}</h1>
      </div>
      <div class="row">
        <div id="user_list" class="span3">
          <ul>
              <li ng-repeat="user in users">{{ user }}</li>
          </ul>
        </div>
        <form ng-submit="selectChatRoom()">
          <input type="text" ng-model="newChat.room">
          <button>Submit</button>
        </form>
          <button ng-click="leaveRoom()">Leave</button>
        <div class="span9">
          <div id = "message_div">
          <table class="table table-striped table-bordered">
            <tbody>
              <tr ng-repeat="msg in messages">
                <td class="span2" ng-bind="msg.name"></td>
                <td class="span7" ng-bind="msg.text"></td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="row controls">
            <form ng-submit="send()">
              <div class="input-append span7">
                <textarea class="span6" ng-model="text" placeholder="Write something {{ currentUser.name }}" autofocus=true></textarea> <br/>
                <input type="submit" id= "round_button" class="span1 btn btn-primary" value="Send" ng-disabled="!text">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>